<!DOCTYPE HTML>

<html>
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="" class="logo"><strong>My Portfolio</strong> <span>made by django</span></a>

					</header>


				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
                            <span class="image">
                                <img src="https://www.be-en.co.jp/upload/save_image/1027183126_61791c6e8b5a4.jpg" alt="" />
                            </span>
							<header class="major">
								<h1>Hi, my name is Takumi Iwanade</h1>
							</header>
							<div class="content">
								<p>Pythonを用いた画像認識や、DjangoやRailsを用いたWebアプリケーション開発で実績のあるエキスパート・エンジニアです。
                            </p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="https://images.unsplash.com/photo-1670464452366-28dbfdecfdf7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="" />
									</span>
									<header class="major">
										<h3><a>Skill</a></h3>
										<p>python画像認識、Django、Ruby on Railsがメイン。フロント(JavaScript（ES6+）、React、Vue.js)、DB(MySQL、PostgreSQL、MongoDB)も経験あり</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://travel.rakuten.co.jp/mytrip/sites/mytrip/files/styles/main_image/public/migration_article_images/amazing/yakei-tokyo-key.jpg?itok=vgwpzTxk" alt="" />
									</span>
									<header class="major">
										<h3><a>Career</a></h3>
										<p>2002年東京生まれ、慶應義塾大学環境情報学部3年在学中。高校にて情報科学、特に、機械学習をスタンフォード大学の講義等で学ぶと同時に、個人事業主として働き始める。ベンチャー企業のCTO等の経験を経て、現在はフリーランスエンジニアとして活躍中</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://assets.st-note.com/production/uploads/images/25952237/28de0411d883288bf6184feb1c0e3183.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a>Achievement</a></h3>
										<p>2018年、株式会社PRES フロントエンド(js)。</br>2020年、株式会社DXStrategy バックエンド(php)。</br>2021年、慶應大学講義用webアプリ開発(django)。</br>2022年、株式会社Kazamidori CTO 新規サービス企画~立ち上げ(nodejs rails)。</br>2022年、株式会社CloudEquityPrivateFund 画像認識モデルの開発(python)。</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/33/e2/19/centro.jpg?w=1200&h=1200&s=1" alt="" />
									</span>
									<header class="major">
										<h3><a>Contact</a></h3>
										<p>email : takumiiwanade@gmail.com(小文字)</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Efficient</h2>
									</header>
									<p>お客様のビジネスの成功をサポートするため、私は迅速かつ効率的なサービス提供に努めます。ニーズを素早く把握し、常に最善のパフォーマンスを発揮することで、クライアントの期待を上回る価値を提供します。<br><br>
                                    本サイトはDjangoで構築し、AWSサーバにアップしております。<br>
                                    <a href="https://github.com/lillain221/myportfolio">GITHUBソースコード</a></p>

								</div>
							</section>

					</div>



				<!-- Footer -->
					<footer id="footer">
						<div class="inner">

							<ul class="copyright">
								<li>&copy; 2023 Takumi Iwanade</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
            <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
            <script src="{% static 'js/browser.min.js' %}"></script>
            <script src="{% static 'js/breakpoints.min.js' %}"></script>
            <script src="{% static 'js/util.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>


